/* Reset beberapa style default browser */
body, h1, h2, h3, p, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Gaya umum untuk body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Mengatur tinggi minimum body agar setidaknya 100vh */
    padding: 20px;
}

/* Gaya untuk header */
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Gaya untuk main section */
main {
    flex: 1; /* Membiarkan main section tumbuh dan mengambil ruang yang tersedia */
    margin-top: 20px;
}

/* Gaya untuk section */
section {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

section h2 {
    margin-bottom: 20px;
}

/* Gaya untuk produk */
.product {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.product img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 5px;
}

.product-info {
    max-width: 600px;
}

.product-info h3 {
    margin-bottom: 10px;
}

.product-info p {
    margin-bottom: 10px;
}

.price {
    font-weight: bold;
    color: #333;
}

/* Gaya untuk footer */
footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    margin-top: auto; /* Menjaga footer tetap di bawah halaman */
}

/* Gaya untuk tombol */
button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #555;
}
